.grid-twenty-eighty {
    justify-content: left;
    grid-template-columns:20% 80%;
    background-color: rgb(245, 245, 245);
    border: 1.5px solid;


  }

  .grid-twenty-eighty a{
    text-decoration: none;
    color: rgb(60, 60, 85);
    cursor: pointer;
  }

  .grid-twenty-eighty a:hover{
    color: rgb(60, 188, 227);
  }

  .counseling{
   
    background-color: rgb(250, 253, 253);
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
  }

  .person{
    margin-top: 40px;
  }
