.container_footer{
    background-color: rgba(102, 102, 213, 0.667);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 0 auto 1rem;
    list-style-type: none;
    text-decoration: none;
}


.container_footer a{
    text-decoration: none;
    cursor: pointer;
}



.footer{
    background-color: aqua;
    justify-content: center;
    
}

.footer_copyright{
    display: grid;
    justify-content: center;
}