.container_footer{
    background-color: rgba(102, 102, 213, 0.667);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 0 auto 1rem;
    list-style-type: none;
    text-decoration: none;
}
.footer{
    background-color: aqua;
    
}