
.header_container{
    background-color: rgb(21, 27, 34);
    /* background: transparent; */
    height:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin-top: 0px;
    padding: 4px;
    border-bottom: 1px solid rgba(red, green, blue, alpha);
    text-decoration: none;
}
.nav{
    display: flex;
    column-gap: 2rem;
}
.nav a{
    color: rgb(132, 155, 223);
    cursor: pointer;
}

.nav a:hover{
    color:rgb(54, 55, 60)
}

.container_img{
    position: relative;
    display: flex;
    gap: 1rem;
    grid-template-columns: max-content max-content;
}

.home-btn{
    background-color: rgb(99, 134, 247);
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* background-color: transparent; */
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.header_item{
    display: flex;
    gap: 1rem;
    padding: 0.5rem 2rem;
    font-size: 1.1rem;
}

.project{
    background-color: #48596a;
    color: antiquewhite;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    margin-top: 0.15rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.analysis{
    margin-top: 0.25rem;
    color: rgb(187, 199, 210);
}